<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/formData" method="post">
      <input type="text" name="name" placeholder="Enter name " />
      <br />
      <input type="email" name="email" placeholder="Enter email " />
      <br />
      <input type="password" name="Password" placeholder="Enter Password " />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
