<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Enter name" />
      <br />
      <input type="text" name="email" placeholder="Enter email" />
      <br />
      <input type="password" name="password" placeholder="Enter password" />
      <br />
      <button class="submit">submit</button>
    </form>
  </body>
</html>
